.tableFormat{
  margin-top: 20px;
  border: 1px solid black;
  margin-bottom: 30px;
}
.tituloAdministracion{
  margin-top: -40px;
  text-align: center;
}
.buttonAdministracion{
  margin-top: 90px;
  margin-left: 540px;
}
.modal-content{
background: repeating-radial-gradient(circle, rgba(23, 5, 55, 0.678), rgb(27, 70, 131));
}